<center>
<h1 class="plavi">Hello <br/> World</h1>
</center>
<h1 class="plavi">Hello World</h1>
<h1 id ="zuti">Hello World</h1>
<p class ="zeleni"> Neki tekst u paragrafu </p>
<p class ="zeleni"> Neki tekst u paragrafu </p>
<p class ="zeleni"> Neki tekst u paragrafu </p>
<p class ="plavi"> Neki tekst u paragrafu </p>
<p class ="plavi"> Neki tekst u paragrafu </p>
<p> Neki tekst u paragrafu </p>

<hr/>

<ul>
<li>1</li>
<li>2</li>
<li>3</li>
</ul>

<ol>
<li> prvi </>
<li> drugi </>
<li> treci </>
<li> cetvrti </>
</ol>

<table>
<tr>
<th>pon</td>
<th>uto</td>
<th>sri</td>
</tr>
<tr>
<td>pon</td>
<td>uto</td>
<td>sri</td>
</tr>
<tr>
<td>cet</td>
<td>pet</td>
<td>sub</td>
</tr>

</th>
</table>

<img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRonH36xej0kCE0xFLyRngtz6u_ATolmBPlloG9Jeqpx-4PZYQH_A>

<style>

.plavi{
    color:blue;
}

#zuti{
    color: yellow;
}

.zeleni{
    color: green;

}

img{
    border: 2px solid cyan;
    margin-left: 100px;
    padding-top:200px;
}

</style>